@{
    ViewBag.Title = "About";
}
<h2>Joshify</h2>
</br>
</br>
<p>This API was created by Josh Piersimoni as a project for EFA Coding Bootcamp.</p>
</br>
<a href="https://mail.google.com/mail/?view=cm&source=mailto&to=[joshpiersimoni@gmail.com]"
   target="blank">Contact me at joshpiersimoni@gmail.com</a>
