/*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

/*Set width on the form input elements since they're 100% wide by default*/

input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-image: url('Assets/GradientBG.jpeg');
}

.navbar-brand {
    color: white !important;
}

.navbar.navbar-inverse.navbar-fixed-top li a {
    color: white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Assets/DarkSoftBG.jpg');
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.corkboard {
    background-image: url('Assets/DarkRoomWoodFloor.jpg');
    background-size: cover;
    padding: 1.5em 3rem;
    border: 7px solid dimgrey;
    border-radius: 5px;
    min-height: 800px;
}

.product-container {
    padding: 1.2em;
    display:block;
}

    .product-container a {
        color: white;
    }

        .product-container a:hover {
            color: white;
            text-decoration: none;
        }

.product-card {
    border: hidden 1px black;
    
    background-image: url('Assets/DarkGradient.jpg');
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.product-title {
    overflow: hidden;
    text-align: center;
    background-color: white;
    color: black;
    padding: .25em;
}

.product-body {
    height: 250px;
}

.product-info {
    text-align: center;
    padding: .25em;
    text-align: left;
    color: black;
}

.product-image {
    
    border-top: solid 2px black;
}

.product-options {
    text-align: center;
    padding: .25em;
}

.product-carousel {
    max-width: 200px;
}

.paypal-details-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 200px;
}

.supplier-card {
    border: solid;
    padding: .5em;
    margin: 5px;
}

.footer p {
    color: white;
}




























/*------------ Cards ----------------*/
/*.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center;*/ /* Center the image */
/*background-repeat: no-repeat;*/ /* Do not repeat the image */
/*background-size: cover;*/ /* Resize the background image to cover the entire container */
/*opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center;*/ /* Center the image */
/*background-repeat: no-repeat;*/ /* Do not repeat the image */
/*background-size: cover;*/ /* Resize the background image to cover the entire container */
/*}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}*/
/*------------ End Cards ----------------*/

/* Custom Button */
/*.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
    .btn-12 span {
        background: rgb(0,172,238);
        background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
        display: block;
        position: absolute;
        width: 130px;
        height: 40px;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        border-radius: 5px;
        margin: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

        .btn-12 span:nth-child(1) {
            box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }

        .btn-12 span:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
        }

    .btn-12:hover span:nth-child(1) {
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    .btn-12:hover span:nth-child(2) {
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        color: transparent;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: none;
    
    border: 2px solid rgb(255, 98, 69);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    transition: 500ms;
}

    button:after {*/
/*content: 'Parallel';*/
/*position: absolute;
        color: white;
        transition: 500ms;
    }

.bg {
    width: 0px;
    height: 50px;
    content: '';
    z-index: -1;
    background: red;
    transform: skewX(45deg);
    transition: 500ms;
}

button:hover {
    border: 2px solid rgba(255,255,255,0.8);
}

    button:hover .bg {
        background: rgba(255,255,255,0.8);
        width: 150px;
    }

    button:hover:after {
        color: red;
    }

button:focus {
    outline: none;
}*/
