@{
    ViewBag.Title = "Home Page";
}



<!-- Carousel Start -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div id="carousel" class="carousel slide" data-interval="4000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Assets/PayPal.png" class="img-responsive" />
                        <div class="carousel-caption">
                            <h1>This is image 1</h1>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Assets/CustomerText.png" class="img-responsive" />
                        <div class="carousel-caption">
                            <h1>This is image 2</h1>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Assets/Cloud.png" class="img-responsive" />
                        <div class="carousel-caption">
                            <h1>This is image 3</h1>
                        </div>
                    </div>
                </div>
                <a href="#carousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>FREE 30-DAY TRIAL</h1>
    <p class="lead">Suppliers sign-up today for a risk free 30-day trial!</p>
    <p>@Html.ActionLink("Learn More About Us", "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Browse our products and utilize powerful methods to customize your search and even see trends for products and suppliers.
        </p>
        <p>@Html.ActionLink("Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>TransDb is a powerful tool for buyers and suppliers alike. </p>
        <p>@Html.ActionLink("Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Suppliers", "Index", "Supplier", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>