@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>@Html.ActionLink("Learn More About Us", "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Browse our products and utilize powerful methods to customize your search and even see trends for products and suppliers.
        </p>
        <p>@Html.ActionLink("Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>TransDb is a powerful tool for buyers and suppliers alike. </p>
        <p>@Html.ActionLink("Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Suppliers", "Index", "Supplier", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>